<div id="<%= dom_id category %>">
  <p>
    <strong>Parent:</strong>
    <%= category.parent_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= category.title %>
  </p>

  <p>
    <strong>Meta title:</strong>
    <%= category.meta_title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= category.content %>
  </p>

</div>
